<?xml version="1.0"?>
<config>
    <modules>
        <Quickpay_Payment>
            <version>3.3.3</version>
        </Quickpay_Payment>
    </modules>
    <global>
        <blocks>
            <quickpaypayment>
                <class>Quickpay_Payment_Block</class>
            </quickpaypayment>
        </blocks>
        <models>
            <quickpaypayment>
                <class>Quickpay_Payment_Model</class>
                <resourceModel>quickpaypayment_mysql4</resourceModel>
            </quickpaypayment>
            <quickpaypayment_mysql4>
                <class>Quickpay_Payment_Model_Mysql4</class>
                <entities>
                    <api_debug>
                        <table>Quickpay_api_debug</table>
                    </api_debug>
                </entities>
            </quickpaypayment_mysql4>
        </models>
        <helpers>
            <quickpaypayment>
                <class>Quickpay_Payment_Helper</class>
            </quickpaypayment>
        </helpers>
        <events>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <auto_register_payment>
                        <type>singleton</type>
                        <class>Quickpay_Payment_Model_Observer</class>
                        <method>autoRegisterState</method>
                    </auto_register_payment>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Quickpay_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Quickpay_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_order_creditmemo_refund>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Quickpay_Payment_Model_Observer</class>
                        <method>returnTranscationAmount</method>
                    </module>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_place_after>
            <observers>
                <module>
                    <type>singleton</type>
                    <class>Quickpay_Payment_Model_Observer</class>
                    <method>saveOrder</method>
                </module>
            </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <quickpaypayment_setup>
                <setup>
                    <module>Quickpay_Payment</module>
                    <class>Quickpay_Payment_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickpaypayment_setup>
            <quickpaypayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickpaypayment_write>
            <quickpaypayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickpaypayment_read>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <quickpaypayment_payment>/quickpaypayment/payment</quickpaypayment_payment>
        </secure_url>
        <routers>
            <quickpaypayment>
                <use>standard</use>
                <args>
                    <module>Quickpay_Payment</module>
                    <frontName>quickpaypayment</frontName>
                </args>
            </quickpaypayment>
        </routers>
        <translate>
            <modules>
                <Quickpay_Payment>
                    <files>
                        <default>Quickpay_Payment.csv</default>
                    </files>
                </Quickpay_Payment>
            </modules>
        </translate>
        <layout>
        <updates>
            <quickpaypayment_payment>
                <file>Quickpay_Payment.xml</file>
            </quickpaypayment_payment>
        </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Quickpay_Payment>
                    <files>
                        <default>Quickpay_Payment.csv</default>
                    </files>
                </Quickpay_Payment>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <quickpaypayment>
                        <class>quickpaypayment/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </quickpaypayment>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <layout>
            <updates>
                <quickpaypayment>
                    <file>Quickpay_Payment.xml</file>
                </quickpaypayment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <quickpaypayment_payment>
                <model>quickpaypayment/method_quickpay</model>
                <title>QuickPay Kortbetaling</title>
                <active>1</active>
                <testmode>0</testmode>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <sort_order>1</sort_order>
                <merchantnumber>ENTER YOUR MERCHANTNUMBER HERE</merchantnumber>
                <agreementid>ENTER YOUR AGREEMENT ID HERE</agreementid>
                <cardtype>0</cardtype>
                <brandingid></brandingid>
                <brandingidchecked></brandingidchecked>
                <googleanalyticstracking></googleanalyticstracking>
                <googleanalyticsclientid></googleanalyticsclientid>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <sendmailorderconfirmationbefore>1</sendmailorderconfirmationbefore>
                <cardlogos>dankort,visa,mastercard,maestro</cardlogos>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <instructions>Pay with your credit card via QuickPay</instructions>
                <transaction_type>O</transaction_type>
                <post_url>https://secure.quickpay.dk/form/</post_url>
                <instantcapture>0</instantcapture>
                <instantinvoice>0</instantinvoice>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
            </quickpaypayment_payment>
            <quickpay_viabill>
                <active>0</active>
                <model>quickpaypayment/method_viabill</model>
                <title>QuickPay ViaBill</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with ViaBill</instructions>
            </quickpay_viabill>
            <quickpay_mobilepay>
                <active>0</active>
                <model>quickpaypayment/method_mobilepay</model>
                <title>QuickPay MobilePay</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with MobilePay</instructions>
            </quickpay_mobilepay>
            <quickpay_klarna>
                <active>0</active>
                <model>quickpaypayment/method_klarna</model>
                <title>QuickPay Klarna</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Klarna</instructions>
            </quickpay_klarna>
        </payment>
        <web>
            <session>
                <use_remote_addr>0</use_remote_addr>
            </session>
        </web>
    </default>
    <interest_form>
        <label>lead capture form</label>
        <template>page/leadcapture.phtml</template>
    </interest_form>
</config>
